.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form h3 {
  margin-top: 0;
  color: #333;
}

.form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.form button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.actionsContainer {
  margin-bottom: 2rem;
  text-align: center;
}

.actionButton {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #646cffaa;
  filter: drop-shadow(0 0 2em #11353f8c);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.catalogueTitle {
  margin-top: 3rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 1rem;
}