.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.name {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #555;
}

.brand {
  color: #555;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  color: #555;
}