.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navList a {
  color: white;
  text-decoration: none;
}

.logoLink {
  color: white;
  text-decoration: none;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: inherit; 
  font-family: inherit; 
  
}